<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Посетитель</title>
</head>
<body>

<p th:text = "${'Имя: '+person.getName()}">name</p>
<p th:text = "${'Возраст: '+person.getAge()}">age</p>
<hr/>
<div th:switch="${books.size()}">
    <p th:case="0">Пользователь пока не взял ни одной книги</p>
    <div th:case="*">
        <h4>Книги: </h4>
        <div th:each="book: ${books}">
          <a th:text="${book.getTitle()+', '+book.getYear()}">user</a>
        </div>
        <br/>
    </div>
</div>
<hr/>
<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
    <br/>
    <input type="submit" value="Редактировать"/>
</form>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <br/>
    <input type="submit" value="Удалить"/>
</form>
<br/>

<a href="/people">Вернуться</a>
</body>
</html>